html, body{
  width: 100%;
  height: 100%:;
}

.img_title:hover{
	z-index: 2;
}

img{
  margin-left: auto;
  margin-right: auto;
	width: 100%;
	height: 100%;
}

img:hover{

  -webkit-transition: all .6s ease;  /* Transition for Webkit browsers */
	opacity: 0.4;
	-ms-filter: "prodig:DXImageTransform.Microsoft.Alpha(Opacity=25)"; /* Hack IE8 */
  filter: alpha(opacity = 25); /* Hack IE 5-7 */
  -webkit-transition: opacity 0.5s ease-in-out;/* transition pour Chrome et Safari */
  -moz-transition: opacity 0.5s ease-in-out;/* transition pour Firefox */
  -o-transition: opacity 0.5s ease-in-out;/* transition pour Opéra */
  transition: opacity 0.5s ease-in-out; /* on écrit cette ligne à la fin de façon à ce que ce soit elle qui soit prise en compte lorsque l'attribut transition sera pris en compte par tous les navigateurs */
}

.imageContener{
  text-align: center;
}
.imageContener .img_title{
	font-size: 75px;
  position: absolute;
	overflow: hidden;
  z-index:-1;
  color: black;
	width: inherit;
	height: inherit;
}
